STRING_SESSION = AQA3mms5b76bgi5nezzOVAaG8xWwMxhznIxKJjhTOzS0BcyVndXL624guCqoFhQsXG0gUvomRaz6XQkzTSvodgND6KPC2VfNoHPnsAyoQ9IT4t9u1BzwiBznNmEgVYGmNH1uICuf6nuV7w_YCeLNktiJDzP7Ekubcu2GfCvCYoe08MOV3zmQaRJmiSnCr4wpvPzQS2xXLbw1Gxp-Zcbr9y6dNWaoS6rZUMzda07nSXpvSGfKbWIihgROjRegu38HnrsCvI5Nmm6Yoe_efm4Xi_vYRjqiOWb2unR8zp2j69B42AFpvpgaD4pLn8HNYUtf5GR82ZJ8EVIQHOVtmpLwnDeSAAAAAVkh6EwA
API_ID = 10472045
API_HASH = cda789892539b908c3f45802d9dbeb99
BOT_TOKEN = 5695082137:AAE7PzL7Q976qaF2DEstMYous4PK22V8Wvo
MONGO_DB_URI = mongodb+srv://Telegram:MaPa123@cluster0.rvibjau.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID = -1001816267429
MUSIC_BOT_NAME = Poppy
OWNER_ID = 5774064849
SUPPORT_GROUP = https://t.me/PoppySupport
SUPPORT_CHANNEL = https://t.me/Poppy_Updates
DURATION_LIMIT = 7200
AUTO_DOWNLOADS_CLEAR = True
PRIVATE_BOT_MODE = False
YOUTUBE_EDIT_SLEEP = 3
TELEGRAM_EDIT_SLEEP = 5
AUTO_LEAVING_ASSISTANT = True
ASSISTANT_LEAVE_TIME = 5400
AUTO_SUGGESTION_MODE = True
AUTO_SUGGESTION_TIME = 3600
SPOTIFY_CLIENT_ID = 441de6b02a2c4d8f93506d4c91e2eac2
SPOTIFY_CLIENT_SECRET = deabb3cf54de4187a9ada460e5bad4a6
